.container {
    margin: 20px 80px;
}

.home-component {
    margin-top: 40px;
    font-size: 20px;
    color: gray;
}

.home-component-title {
    font-size: 25px;
    color: black;
}

.home-component-div {
    margin: 80px;
    display: flex;
    justify-content: space-evenly;
}
